.trigger {
    cursor: pointer;
    user-select: none;
    outline: none !important;
}

.menu {
    display: none;
    inset-inline: 0;
    top: 100%;

    color: white;
    position: absolute;
    background-color: #36343b;
    cursor: pointer;
    position-try: inset-area(bottom), inset-area(top);
}

.root:has(.trigger[aria-expanded="true"]) .menu,
.root:has(.input[aria-expanded="true"]) .menu {
    display: block;
}

.root:has(.input:not(:placeholder-shown):user-invalid) {
    color: #cb3d40;
    border: 2px solid #cb3d40;
}

/* .trigger[aria-expanded="true"] + .menu,
.input[aria-expanded="true"] + * + .menu {
    display: block;
} */

@position-try --select-menu {
    @try {
        bottom: anchor(top);
        left: anchor(center);
    }

    @try {
        top: anchor(bottom);
        left: anchor(center);
    }
}

/* @position-try-fallbacks --select-menu {
    @try {
        bottom: anchor(top);
        left: anchor(center);
    }

    @try {
        top: anchor(bottom);
        left: anchor(center);
    }
} */
