@font-face {
    font-family: "GetVoIP Grotesque";
    src: url("@/assets/fonts/GetVoIP Grotesque.otf") format("opentype");
}

img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

form {
    @apply grid gap-y-4;
}

label {
    @apply grid h-max gap-y-2;
}

#root {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    height: 100%;
    margin-inline: auto;
    font-family: GetVoIP Grotesque;
}

/* .sign-in {
    position: relative;
    isolation: isolate;
    padding-inline-start: 1rem;
    padding-inline-end: 2.5rem;

    clip-path: xywh(0 0 100% 100% round 0.5rem 0 0 0.5rem);

    &::after {
        content: "";
        position: absolute;
        inset: 0 16px 0 -25px;
        background: transparent;
        z-index: -1;
        transform: skew(35deg);
        border-radius: 0 0.5rem 1.5rem 0;
        border: 2px solid white;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-left: 2px solid white;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        clip-path: polygon(0 0, 12px 0, 12px 100%, 0 100%);
        border-radius: 0.5rem;
    }
} */

.sign-in {
    /* background: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 -10 328 140' fill='none' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_245_3804)'%3E%3Cpath d='M292.423 78.9108C301.458 91.4806 292.475 109 276.995 109L50.5 109C40.0066 109 31.5 100.493 31.5 90L31.5 50C31.5 39.5066 40.0066 31 50.5 31L248.245 30.9999C254.361 30.9999 260.104 33.9443 263.673 38.9108L292.423 78.9108Z' stroke='white' stroke-width='2' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_245_3804' x='0.5' y='-9.15527e-05' width='326.531' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='15'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.382333 0 0 0 0 0.0916667 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_245_3804'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_245_3804' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
        center/none no-repeat; */
    background: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='30 28 270 84' fill='none' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_245_3804)'%3E%3Cpath d='M292.423 78.9108C301.458 91.4806 292.475 109 276.995 109L50.5 109C40.0066 109 31.5 100.493 31.5 90L31.5 50C31.5 39.5066 40.0066 31 50.5 31L248.245 30.9999C254.361 30.9999 260.104 33.9443 263.673 38.9108L292.423 78.9108Z' stroke='white' stroke-width='2' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_245_3804' x='0.5' y='-9.15527e-05' width='326.531' height='140' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='15'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.382333 0 0 0 0 0.0916667 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_245_3804'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_245_3804' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
        center/cover no-repeat;
}

.sign-up {
    position: relative;
    isolation: isolate;
    padding-inline-start: 2.5rem;
    padding-inline-end: 1rem;

    clip-path: border-box xywh(0 0 100% 100% round 0 0.5rem 0.5rem 0);

    &::after {
        content: "";
        position: absolute;
        inset: 0 -25px 0 16px;
        background: transparent;
        z-index: -1;
        transform: skew(35deg);
        border-radius: 1.5rem 0 0 0.5rem;
        border: 2px solid #793aff;
        background-color: #793aff;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-right: 2px solid #793aff;
        border-top: 2px solid #793aff;
        border-bottom: 2px solid #793aff;
        clip-path: polygon(
            calc(100% - 8px) 0,
            100% 0,
            100% 100%,
            calc(100% - 8px) 100%
        );

        border-radius: 0.5rem;
    }
}
